:root {
    --accent: #f6da22;
    --background-color: #ffffff;
}

body {
    overflow: hidden;
    background-color: var(--background-color);
}

section {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-color);
    padding: 1.25rem 1.25rem;
    user-select: none;
}

.letter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.letter {
    border-radius: 100%;
    background-color: #e6e6e6;
    margin-right: 1rem;
    font-size: 2.6rem;
    padding: 0.25rem 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-weight: bold;
    min-width: 2rem;
    text-align: center;
}

.letter:focus {
    outline-color: var(--accent);
}

#center-letter {
    display: inline-block;
    background-color: var(--accent);
    padding: 0.75rem 1.5rem;
}

#center-letter:focus {
    outline-color: #000;
}

.solution-container {
    margin-top: 2rem;
}

.solution-container img {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.solution-container button {
    border-radius: 2rem;
    background-color: black;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 2rem;
    /* letter-spacing: normal; */
    text-transform: capitalize;
    font-weight: bold;
    padding: 0rem 5rem 4rem 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #fff;
}

#hits {
    margin-top: 4rem;
    font-weight: bold;
}

#edit-btn {
    border: none;
    font-size: 2rem;
    color: #aba7a7;
    position: absolute;
    left: 0;
    right: 0;
}

/* Solutions Sheet*/

#solutions-sheet {
    font-family: 'Helvetica', sans-serif;
    overflow-y: scroll;
    padding: 1.25rem 4rem;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#solutions-sheet ul {
    list-style-type: none;
}

.slide-out {
    position: fixed;
    bottom: -100%; /* Start hidden below the screen */
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
    transition: bottom 1s; 
    z-index: 1000;
    height: 80vh;
    background-color: var(--accent);
}

.slide-out.active {
    bottom: 0;
}

#close-btn {
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    25% {transform: rotate(-10deg);}
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg);}
  }
  
  .wiggle {
    animation: wiggle 1.25s ease-in-out 0s;
  }

/* Media Queries */

@media (min-width: 750px) {

    body {
        margin: 2% 20%;
    }

    .letter-container {
        display: block;
    }

    #center-letter {
        padding: 0.75rem 1.5rem;
    }

    .letter {
        padding: 1rem 1.5rem;
    }

    .slide-out {
        height: 85vh;
    }

    #solutions-sheet {
        padding: 1.25rem 25%; 
    }
}